#output {
	border: 1px solid;
    margin: 10px;
    padding: 10px;
    font-size: 30px;

	&.output--hidden {
		display: none;
	}
}

aside {
	ul {
		display: flex;
		justify-content: space-evenly;
		li {
			border: 0.5px solid black;
			font-size: 20px;
			text-align: center;
			border-radius: 1em;
			padding: 10px;
			width: 100%;
			margin: 10px;
			cursor: pointer;
			animation: idleAnim 2s ease-in-out infinite;

			&:hover {
				background-color: #dc143c;
				color: white;
			}
		}
	}
}

@keyframes idleAnim {
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}